---
layout: default
---

<p> Hello. I am a researcher doing things like <a href="./publications.html">this</a>.
<a href="">
<!--Here </a> are some people on the internet that I like.-->

</p>

Posts.

<ul>
  {% for post in site.posts %}
    <li>
      {{ post.date | date: "%Y/%m"}} <a href="{{ post.url }}">{{
        post.title }}</a>

    </li>
  {% endfor %}
</ul>


<!--Connection posts.-->

<!--<ul>-->
  <!--{% for post in site.dbposts %}-->
    <!--<li>-->
      <!--{{ post.date | date: "%Y/%m/%d"}} <a href="{{ post.url }}">{{-->
        <!--post.title }}</a>-->
    <!--</li>-->
  <!--{% endfor %}-->
<!--</ul>-->

